.home h1 {
  font-size: 3rem;
  margin-bottom: 6rem;
}

.home p {
  font-size: 1.25rem;
  max-width: 600px;
}

.home {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* slight overlay for contrast */
} 
